In [1]:
# Python
import pandas as pd
from fbprophet import Prophet

In [2]:
# Python
df =  pd.read_csv('Merged_Data_old2.csv', header=0)
df.head()

,TIME_STAMP,TEMPERATURE_Out,GAS_Out,HUMIDITY_Out,PRESSURE_Out,ALTITUDE_Out,id_In,TEMPERATURE_In,GAS_In,HUMIDITY_In,PRESSURE_In,ALTITUDE_In
0,5/12/2019 18:58,75,364884,84.9,975.0,323.2,2,74,6049661,35.9,972.9,341.2
1,5/12/2019 18:59,75,362475,84.6,975.0,323.3,3,74,5851528,35.9,972.9,341.3
2,5/12/2019 19:00,75,362874,84.2,975.0,323.4,4,74,5636172,36.2,972.9,341.4
3,5/12/2019 19:01,75,362475,84.4,975.0,323.5,5,74,5441624,37.3,972.9,341.5
4,5/12/2019 19:02,75,362874,84.4,975.0,323.5,6,74,5219085,37.1,972.9,341.6

In [4]:
df=df.dropna()

In [ ]:
indoor =